<?php
/**
* Template Name: front-page
*/
?>


<!DOCTYPE html>
<html>
    <head>
        <title>Minimal example</title>
    </head>

    <body>
        <h1>Example</h1>
        <p>This is purely to demonstrate how lightweight and flexible the actual theme builder is</p>
        <p>For a more practical, 'kitchen sink' example see the "/theme-src.verbose" folder.</p>
    </body>
</html>
